{% extends 'layout.html' %} 
{% block body %}   
  

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Estacionamiento</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/ingresarVehiculo.css')}}">
        <script src="{{url_for('static', filename='js/error_popup.js')}}"></script>
    </head>
    <body>
        <section class="form-ingreso">
                <h5>Ingreso Estacionamiento</h5>
                <form action="/ingresarVehiculo" method="POST" enctype="multipart/form-data">
                    <label for="inputid" class="form-label">id_estacionamiento</label>
                    <input class="controls" type="number" pattern=".{4}"  name="id" placeholder="id_estacionamiento" id="inputid" value ="">  

                    <label for="inputdni" class="form-label">DNI</label>
                    <input class="controls" type="number" pattern=".{8}"  name="dni" placeholder="DNI" id="inputdni" value ="">  

                    <label for="inputdni" class="form-label">Placa</label>
                    <input class="controls" type="text" pattern=".{7}"  name="placa" placeholder="Placa" id="inputplaca"> 

                    <label for="inputdat" class="form-label">Fecha de Ingreso del Vehiculo</label>
                    <input class="controls" type="date" pattern="\d{1,2}/\d{1,2}/\d{4}"name="fechainicio" placeholder="" id="inputdat"> 

                    <label for="inputtime" class="form-label">Hora de Ingreso del Vehiculo</label>
                    <input class="controls" type="time" name="horaEntrada" placeholder="" id="inputtime">
                    

                    <input class="buttons" type="submit" name="" value="Ingresar">
       
                </form>
        </section>
    </body>
</html>