{% extends 'layout.html' %} 
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
  <title>Estacionamiento Venezia</title>
</head>
        <!-- <body> 
            <form action="/ingresarEntrada" method='POST'>
                <section>
                    <div class="ingreso">
                        <p>Estacionamiento Venezia</p>
                        <h3>Ingreso Cliente</h3>
                        <label for="inputdni" class="form-label">DNI</label>
                        <input class="controls" type="number" pattern=".{8}"  name="dni"  id="inputdni" value="{{ dni }}"  required> 
                        <input type="hidden" name="action" value="entrada">
                        <input class="buttons" type="submit" name="submit" value="Entrada" formaction="/ingresarEntrada">
                    </div>>
                <form action="/ingresarSalida" method='POST'>
                    <div class="actualizacion">
                        <input type="hidden" name="action" value="salida">
                        <input class="buttons" type="submit" name="submit" value="Salida" formaction="/ingresarSalida">
                    </div>          
                </section>
            </form>
        </body> -->
 <body> 
            <section class="form-ingreso"> 
                <form action="/ingresarVehiculo" method='POST'>
                    <section>
                        <div class="ingreso">
                            <p>Estacionamiento Venezia</p>
                            <h3>Ingreso Cliente</h3>
                            <label for="inputdni" class="form-label">DNI</label>
                            <input class="controls" type="number" pattern=".{8}"  name="dni"  id="inputdni" value="{{ dni }}"  required> 
                            <input class="buttons" type="submit" name="action" value="Entrada" formaction="/ingresarEntrada">
                            <input class="buttons" type="submit" name="action" value="Salida" formaction="/ingresarSalida">
                        </div>          
                  </section>
                </form>
            </section>
    </body> 

</html>

{%  endblock %}